* {
    font-family:Ubuntu, sans-serif;
    color:#303030;
    letter-spacing:0.01em;
}
#app {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}
.container {
    display:flex;
    width:100%;
    height:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.single-img-container {
    width:30%;
    height:40%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#ddd;
    margin-bottom:10px;
}
.single-img-container img {
    max-width:95%;
    max-height:95%;
}
button {
    border:none;
    font-family:Ubuntu, sans-serif;
    width:60px;
    height:35px;
    color:#fff;
    background:#0288bd;
    opacity:0.8;
    transition:opacity .2s;
    font-size:16px;
    border-radius:4px;
    outline:none;
}
button:hover {
    opacity:1;
}
button:active {
    background:#01579b;
}
.all-images {
    width:30%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.all-images img {
    height:70px;
    width:70px;
    margin:5px;
    border:1px solid #999;
}
#active {
    border:3px solid #303030;
}
